@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	position: relative;
	min-height: 100dvh;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	font-family: sans-serif;
	font-size: 2rem;
	text-align: center;
	gap: 2rem;
	background-color: #212121;
	border: 0.5rem solid whitesmoke;
}

#text {
	font-family: Montserrat, Arial, Helvetica, sans-serif;
	color: whitesmoke;
}

#text strong {
	color: #fe00cf;
}

#text #location {
	text-decoration: underline;
}

#next-happy-hour {
	padding: 1rem;
	border: whitesmoke 0.5rem solid;
	width: 32rem;
	color: whitesmoke;
	display: flex;
	flex-flow: column;
	gap: 1rem;
}

#arrows {
	display: flex;
	gap: 1rem;
	color: whitesmoke;
}

#arrows svg {
	height: 2.5rem;
}

#countdown {
	padding: 1rem;
	background: #f0f0f0;
	font-weight: 900;
	font-size: 3.5rem;
	width: 32rem;
	font-family: 'Roboto Mono', monospace;
}

#mention {
	font-size: 1rem;
	color: gray;
}

#mention a {
	color: gray;
}

#mention a:hover {
	color: #fe00cf;
	transition: all ease-out 350ms;
}
